{% extends "base.html" %}

{% block title %}
Edit Product | Page
{% endblock title %}
{% block content %}
{% include "nav.html" %}
<div class="container">
    <form class="form-group" action="{{url_for('edit_product', store_name=store_name, product_name=product.productName)}}" method="POST">
        <input class="form-control" type="text" name="name" placeholder="Enter New Store" value="{{product.productName}}">
        <br>
        <input class="form-control" type="text" name="description" placeholder="description" value="{{product.description}}">
        <br>
        <input class="form-control" type="number" name="price" placeholder="price" value="{{product.price}}">
        <br>
        <input class="form-control" type="text" name="type_of" placeholder="type_of" value="{{product.type_of}}">
        <br>
        <input class="form-control" type="text" name="picture" placeholder="Enter url of picture" value="{{product.picture}}">
        <br>
        <input class="btn btn-warning" type="submit" value="Edit">
        <a class="btn btn-light" href="{{url_for('product', store_name=store_name)}}">Cancel</a>
    </form>
</div>
{% endblock content %}