{% extends "base.html" %}

{% block title %}
Login | Page
{% endblock title %}
{% block content %}
{% include "nav.html" %}
<div class="container">
    <div id="signinButton">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="889119307753-0d4k406f59jmj7jbeqf9mcrbphjp88g4.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
      </div>
</div>

<div id="result"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
        function signInCallback(authResult){
            if(authResult['code']){
                $('#signinButton').css('display','None')

                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: authResult['code'],
                    success: function(result) {
                        if (result) {
                            $('#result').html('Login Successfuly <br>'+ result + '<br>Redirecting...');
                            
                            setTimeout(function(){ window.location.href = "/stores"; }, 3000);
                        } else if (authResult['error']) {
                            console.log('There was an Error: '+ authResult['error']);
                        } else {
                            $('#result').html('Failed to make a server-side call check your configration and console.');
                        }
                    }
                })
            }
        }
    </script>
{% endblock content %}